<!-- home/templates/home/homepage.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'home/homepage.css' %}">
</head>
<body>
        
    <div class="navbar">
        <div class="logo">LUMINA.</div>
        <div class="top-buttons">
            <!-- <button class="signup-btn" onclick="location.href='/accounts/google/login'">회원가입 후 채팅 시작하기</button>
            <button class="login-btn" onclick="location.href='/accounts/google/login'">로그인</button> -->
        </div>
    </div>
    <div class="container">
        <div class="left-panel">
            <div class="login-box">
                <h2>좋아하는 <br>인플루언서들과<br>대화를 나눠보세요</h2>
                <p>10초만에 회원가입</p>
                <button class="google-btn" onclick="location.href='/accounts/google/login'"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/150px-Google_%22G%22_logo.svg.png" alt="Google"> 구글 로그인으로 시작하기</button>
                <!-- <button class="apple-btn"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple"> Continue with Apple</button> -->
                <!-- <div class="or">혹은</div>
                <button class="email-btn">이메일로 시작하기</button> -->
                <p class="terms">By continuing, you agree with the <a href="#">Terms and Privacy Policy</a></p>
            </div>
        </div>
        <div class="right-panel">
            <div class="carousel">
                <img src="{% static 'home/iu.png' %}" class="carousel-img active" alt="Gamst">
                <img src="{% static 'home/ju.png' %}" class="carousel-img" alt="Itsub">
                <img src="{% static 'home/chim.png' %}" class="carousel-img" alt="Gamst">
                <img src="{% static 'home/itsub.png' %}" class="carousel-img" alt="Itsub">
            </div>
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const images = document.querySelectorAll('.carousel-img');
        let current = 0;
        setInterval(() => {
            images[current].classList.remove('active');
            current = (current + 1) % images.length;
            images[current].classList.add('active');
        }, 5000); // Change image every 3 seconds
    });

    </script>
</body>
</html>