packages:
  yum:
    python3-devel: []
    postgresql-devel: []
    gcc: []
    git: []

commands:
  01_create_venv:
    command: |
      python3 -m venv /var/app/venv/staging-LQM1lest
      source /var/app/venv/staging-LQM1lest/bin/activate
      pip install --upgrade pip
      pip install -r /var/app/current/requirements.txt
  02_set_permissions:
    command: |
      chown -R webapp:webapp /var/app/venv
      chmod -R 755 /var/app/venv 