option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: goodfellow.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: goodfellow.settings
    PYTHONPATH: /var/app/current
    PYTHONUNBUFFERED: 1
    DATABASE_URL: postgres://ebdb:ebdb1234@awseb-e-fsmrdutzb4-stack-awsebrdsdatabase-uvvewftes7fu.cn04euscio0e.ap-northeast-2.rds.amazonaws.com:5432/goodfellow 